logs/
.idea/
.ruby-gemset
.ruby-version
.ruby-gemset
.rbenv-gemset
.recap-lock
.rspec

/cap-recipes

daemons.rb.output
daemons.rb.pid
/config/application.yml
/config/newrelic.yml
/config/integrations
/config/database.yml
tmp/
log/
vendor/bundle
.bundle/

.overcommit.yml

*~
