.container.text-center
  %br
    %br
      %h2.thin The best place for synchronization between Jira to Pivotal
      %p.text-muted
        The difference between involvement and commitment is like an eggs-and-ham breakfast:
        %br
          the chicken was involved; the pig was committed.
.jumbotron.top-space
  .container
    %h3.text-center.thin Reasons to use J2P
    .row
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-cogs.fa-5>
            Bootstrap-powered
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-flash.fa-5>
            Fat-free
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit!
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-heart.fa-5>
            Creative Commons
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-smile-o.fa-5>
            Author's support
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita?