.container.text-center
  %br
    %br
      %h2.thin The best place for synchronization between Jira to Pivotal
      .divider
      %p.text-muted
        The difference between involvement and commitment is like an eggs-and-ham breakfast:
        %br
          the chicken was involved; the pig was committed.
.jumbotron.top-space
  .container
    %h3.text-center.thin Reasons to use J2P
    .divider
    .row
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-cogs.fa-5>
            Bootstrap-powered
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur.
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-flash.fa-5>
            Fat-free
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-heart.fa-5>
            Creative Commons
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      .col-md-3.col-sm-6.highlight
        .h-caption
          %h4
            %i.fa.fa-smile-o.fa-5>
            Author's support
        .h-body.text-center
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero
.content_image
  .container.text-center
    %br
      %br
        %h2.thin The best place for synchronization between Jira to Pivotal
        %p.text-muted
          The difference between involvement and commitment is like an eggs-and-ham breakfast:
          %br
            the chicken was involved; the pig was committed.
.content_section
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer
        %h3.thin The best place for synchronization between Jira to Pivotal
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero
      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag('mac.png', class: 'img-responsive')
