%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{ "data-slide-to" => "0", "data-target" => "#myCarousel" }
    %li{ "data-slide-to" => "1", "data-target" => "#myCarousel" }
    %li{ "data-slide-to" => "2", "data-target" => "#myCarousel" }

  / Wrapper for slides
  .carousel-inner
    .item.active
      .fill#picture1
      .carousel-caption
        %h2 J2P Project
        %h2 Bridge between Jira and Pivotal
    .item
      .fill#picture2
      .carousel-caption
        %h2 J2P Project
        %h2 Bridge between Jira and Pivotal
    .item
      .fill#picture3
      .carousel-caption
        %h2 J2P Project
        %h2 Bridge between Jira and Pivotal

  / Controls
  %a.left.carousel-control{ "data-slide" => "prev", href: "#myCarousel" }
    %span.icon-prev
  %a.right.carousel-control{ "data-slide" => "next", href: "#myCarousel" }
    %span.icon-next

