<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Project <%= @project %> crashed</h1>
    <p>
      Something go wrong with this project,
      please, restart
    </p>
  </body>
</html>
