development: &development
  adapter: postgresql
  encoding: unicode
  database: j2p_development
  pool: 100
  username: postgres
  password:
  host: postgres
  min_messages: WARNING

test:
  <<: *development
  database: j2p_test

production:
  <<: *development
  database: j2p_production
