.footer1 {
	background: $blue;
	padding: 30px 0px 0px;
	font-size: 12px;
	color: $white;
	a{
    color: #fff;
	}
}

.footer2 {
  background: $dark_blue;
  padding: 15px 0px;
  color: $divider_color;
  font-size: 12px;
  a{
    color: #fff;
	}
}