/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 60px;
}

.main-image {
  background: asset_url('main_image.jpg') no-repeat;
  background-size: 100%;
}

.white {
  color: white;
}

.black {
  color: black;
}

.action-link {
  margin-right: 3px;
}

.action-border {
  border: 1px solid;
  margin-right: -11px;
}

.main-text {
  margin-top: 250px;
}

.project-table {
  background-color: grey;
}
