/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require highlight
 *= require landing
 *= require project_configs
 *= require projects
  */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "colors";
@import "header";
@import "footer";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.main-image {
  background-size: 100%;
  margin-top: 60px;
}

.jumbotron{
  h3{
    font-weight: 300;
  }
  p{
    font-size: 14px;
    color: $secondary_text;
  }
  .highlight{
    margin-top: 40px;
  }
  .h-caption{
    text-align: center;


    h4{
      color: $text_color;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    i{
      display: block;
      font-size: 54px;
      color: #0A2C68;
      margin-bottom: 36px;
    }
  }
}
.project_block{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -284px; /* отрицательный нижний отступ на высоту футера */
  margin-top: 60px;
  padding: 0;
}

.white {
  color: white;
}

.black {
  color: black;
}

.action-link {
  margin-right: 3px;
}

.action-border {
  border: 1px solid;
  margin-right: -11px;
}

.main-text {
  margin-top: 250px;
}

.project-table {
  background-color: grey;
}
