// Place all the styles related to the project_configs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.config_form {
  background-color: grey;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  min-height: 80px;
}
