%footer#footer.top-space
  .footer1
    .container
      .row
        .col-md-3.widget
          %h3.widget-title Contact
          .widget-body
            %p
              +234 23 9873237
              %br
                %a{href: "mailto:#"} some.email@somewhere.com
                %br
                  %br
                    234 Hidden Pond Road, Ashland City, TN 37015
        .col-md-3.widget
          %h3.widget-title Follow me
          .widget-body
            %p.follow-me-icons
              %a{ href: ""}
                %i.fa.fa-twitter.fa-2
              %a{ href: ""}
                %i.fa.fa-dribbble.fa-2
              %a{ href: ""}
                %i.fa.fa-github.fa-2
              %a{ href: ""}
                %i.fa.fa-facebook.fa-2
        .col-md-6.widget
          %h3.widget-title Text widget
          .widget-body
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
            %p Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.
      / /row of widgets
.footer2
  .container
    .row
      .col-md-6.widget
        .widget-body
          %p.simplenav
            %a{href: "#"} Home
            |
            %a{href: "about.html"} About
            |
            %a{href: "sidebar-right.html"} Sidebar
            |
            %a{href: "contact.html"} Contact
            |
            %b
              %a{href: "signup.html"} Sign up
      .col-md-6.widget
        .widget-body
          %p.text-right
            Copyright &copy; 2014, Your name. Designed by
            %a{ href: "http://gettemplate.com/", rel: "designer"} gettemplate
            